header {
    background-color: gray;
}

#list-items {
    background-color: aquamarine;
}

.delete-btn {
    background-color: blueviolet;
}

#input {
    background-color: greenyellow;
}

#task-input {
    background-color: aqua;
}

#createTask {
    background-color: red;
}