body {
    text-align: center;
    width: 50%;
    margin: auto;
}

header {
    background-color: gray;
    margin-bottom: 20px;
}

#list {
    display: flex;
    height: 100%;
    background-color: cadetblue;
    margin-bottom: 20px;
}

#myList {
    text-align: left;
    background-color: aquamarine;
    
}

.deleteBtn {
    background-color: blueviolet;
    border-radius: 50px;
}

.deleteBtn:hover {
    background-color: antiquewhite;
}

#input {
    background-color: greenyellow;
}

#taskInput {
    background-color: aqua;
    text-align: center;
    border-radius: 50px;
}

#createBtn {
    background-color: red;
    border-radius: 50px;
}

#createBtn:hover {
    background-color: yellow;
  }