header {
    background-color: gray;
}

#list {
    display: flex;
    height: 100%;
    background-color: cadetblue;
    margin-bottom: 20px;
}

#myList {
    background-color: aquamarine;
}

.deleteBtn {
    background-color: blueviolet;
}

#input {
    background-color: greenyellow;
}

#taskInput {
    background-color: aqua;
}

#createTask {
    background-color: red;
}